* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.navbar {
	display: flex;
	justify-content: space-between;
	background-color: #333;
	opacity: 0;
	animation: slideIn_Left_to_Right 1s forwards;
}

.navbar a {
	color: #fff;
	text-decoration: none;
	padding: 1rem;
	display: flex;
	align-items: center;
}

.navbar-items {
	display: flex;
	margin-right: 1.5rem;
}

.navbar-items a {
	display: flex;
	padding: 1rem 1.5rem;
}

a:hover {
	background-color: #666;
}

.navbar-items img {
	margin-left: 0.5rem;
	width: 25px;
	height: 25px;
}

.welcome_message {
	min-height: 25vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: bisque;
	opacity: 0;
	animation: slideIn_Right_to_Left 1s forwards;
	animation-delay: 1s;
}

section {
	text-align: center;
	opacity: 0;
	animation: slideIn_Bottom_to_Top 1s forwards;
	animation-delay: 2s;
}

section>h2 {
	padding: 1rem;
}

.content_box_container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	max-width: 1200px;
	margin: 0 auto;
}

.content_box {
	padding-top: 1rem;
	background-color: lightgray;
	width: calc((100% - 1rem) / 2);
	min-height: 24vh;
}

button {
	display: block;
	margin: 0 auto;
	padding: 0.7rem;
	border: none;
	border-radius: 3px;
	background-color: lightgreen;
	color: #333;
	opacity: 0;
	animation: pulseButton 1s forwards;
	animation-delay: 3s;
	margin-top: 2rem;
}

button:hover {
	cursor: pointer;
	color: #000;
	background-color: rgb(0, 255, 0);
}

@keyframes slideIn_Left_to_Right {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideIn_Right_to_Left {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideIn_Bottom_to_Top {
	from {
		transform: translateY(100%)
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes pulseButton {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}

	50% {
		opacity: 1;
		transform: scale(1.2);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@media screen and (max-width: 768px) {
	.navbar-items img {
		display: none;
	}

	.navbar-items a {
		padding: 1rem 0.75rem;
	}
}

@media screen and (max-width:500px) {
	.navbar-items {
		font-size: 0.875em;
		margin-right: 0
	}
}